# yaml-language-server: $schema=https://unpkg.com/@powersync/service-schema@latest/json-schema/powersync-config.json
replication:
  connections:
    - type: postgresql
      uri: !env PS_POSTGRESQL_URI
      sslmode: disable

storage:
  type: mongodb
  uri: mongodb://mongo:27017/powersync_demo

port: 8080

sync_rules:
  content: |
    config:
      edition: 2
    streams:
      counters:
        query: SELECT * FROM counters WHERE stream IN (subscription.parameters() -> 'counter_streams')
        auto_subscribe: false
        priority: 2
        accept_potentially_dangerous_queries: true

client_auth:
  supabase: true
  supabase_jwt_secret: !env PS_SUPABASE_JWT_SECRET

telemetry:
  prometheus_port: 9090
  disable_telemetry_sharing: true

api:
  tokens:
    - !env PS_API_TOKEN
