# yaml-language-server: $schema=https://unpkg.com/@powersync/service-schema@latest/json-schema/powersync-config.json
replication:
  connections:
    - type: postgresql
      uri: !env PS_POSTGRESQL_URI
      sslmode: disable

storage:
  type: postgresql
  uri: !env PS_POSTGRESQL_URI
  sslmode: disable

port: 8080

sync_rules:
  content: |
    bucket_definitions:
      global:
        data:
          - SELECT * FROM counters

client_auth:
  supabase: true
  supabase_jwt_secret: !env PS_SUPABASE_JWT_SECRET

telemetry:
  prometheus_port: 9090
  disable_telemetry_sharing: true

api:
  tokens:
    - !env PS_API_TOKEN
